
body {
  /* First font priority is given to poppins and the least priority is given to sans serif */
  font-family: 'Poppins', sans-serif;
}

label {

  /* Font properties */
  font-weight: bolder;
  font-style: italic;

   /* Absolute Units - These fonts are hardcoded */
  font-size: 20px;

  /* Relative Units - These fonts are related to either there parent, or itself */

  /* First Way*/
  /* color: green; */

  /* SECOND WAY (RGB) */

  /*  RGB (Red, Green, Blue */
  /* Each individual value, can be minimum = 0, and maximum = 255 */

  /* Maximum red */
  /* color: rgb(255, 0, 0); */

  /* color: rgb(255, 255, 255); */

  /* color: rgb(0, 0, 0); */

  /* color: rgb(100, 100, 255); */

  /* THIRD WAY (HEXA DECIMAL = 16進数) */

  color: #000;

  /* 0 1 2 3 4 5 6 7 8 9 a b c d e f */

  width: 30%;


}

/* input[type=submit] {
  background-color: black;
  padding: 4px;
  color: white;
  枠線を引くためのcssのプロパティの一つ 
  border: none;
  border-radius: 8px;
} */


img {
  /* This is abosolute or hardcoded */
    /* width: 400px; */
    /* height: 100px; */

    /* This is relative */

    width: 100px;
      height: 100px;
}

form {
  /* border: 1px solid white; */

  /* 50% of the screen size */
  /* viewport width */
  width: 50vw;

  /* automatically gives margin equally among alll of the slides */
  margin: auto;

  /* padding - Spaces within the element border */
  /* 上下左右の要素の内側パディングをまとめて指定するプロパティ */
  padding: 50px;

  /* margin - Spaces outside the element */
  /* 要素の外側の余白 */

  /* margin: 50px; */

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  border-radius: 20px;
}

/* 特定のidを選ぶ際は#をつける */
/* 複数回同じ名前のものを使える（class）か、使えない（id） */
#logo {
    border: 2px solid white;
    border-radius: 50%;
}

/* #main-form{
  text-align: center;
} */

/*
#submit-button {
  background-color: black;
  padding: 4px;
  color: white;
  border: none;
  border-radius: 8px;
}

 #reset-button {
  background-color: red;
  padding: 6px;
  color: white;
  border: none;
  border-radius: 8px;
}*/

/* 共通している内容 */
#submit-button, #reset-button {
  padding: 6px;
  color: white;
  border: none;
  border-radius: 8px;
}

/* 2つで異なることを表示したいときに使用 */
#submit-button {
  background-color: black;

  /* padding: 20px; */

  /* 1 Way */
  /* padding-top: 20px;
  padding-bottom: 20px; */

  /* 2 Way */

  /* padding: 20px; */

  /*      top  right bottom left */
  /* padding: 20px 0px 20px 0px; */

  /* 3 Way */
  padding: 10px 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#reset-button {
  background-color: red;
  padding: 10px 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.p-8 {
  padding: 8px;
}

.w-70{
  width: 70%;
}

.text-center{
  text-align: center;
}