body {
  font-family: "Noto Serif", serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

h1 {
  color: rgb(220, 33, 33);
  padding: 10px;
  text-align: center;
}

header nav ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  list-style: none;
}
header nav ul li {
  background-color: rgb(220, 33, 33);
  color: white;
  padding: 10px;
}

.items-container {
  display: grid;
  grid-template-columns: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.items-container .item {
  margin: 30px;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.items-container .item h2 {
  margin: 20px;
  text-align: center;
  scroll-margin-top: 50px;
}
.items-container .item img {
  width: 100%;
}
.items-container .item p {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  margin: 5px;
}

.button-container {
  text-align: right;
}
.button-container button {
  background-color: rgb(220, 33, 33);
  color: white;
  padding: 8px;
  border: none;
  margin: 8px;
  border-radius: 3px;
}

@media (min-width: 700px) {
  .items-container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: flex-start;
    align-items: flex-start;
  }
  .items-container .item {
    margin: 15px;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
  .items-container .item .films-title {
    position: relative;
    top: 30px;
  }
  .items-container .item .twoLines-title {
    position: relative;
    top: 15px;
  }
  .items-container .item h2 {
    margin: 10px;
    text-align: center;
    scroll-margin-top: 50px;
    height: 90px;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
  }
}
@media (min-width: 1200px) {
  .items-container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    justify-content: flex-start;
    align-items: flex-start;
  }
  .items-container .item {
    margin: 10px;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }
  .items-container .item #Fullmetal {
    position: relative;
    bottom: 20px;
  }
  .items-container .item #name {
    position: relative;
    bottom: 10px;
  }
  .items-container .item #Alice {
    position: relative;
    top: 10px;
  }
  .items-container .item #You {
    position: relative;
    bottom: 10px;
  }
  .items-container .item #sentence_godzilla {
    margin-top: 30px;
  }
  .items-container .item #sentence_yourName {
    margin-top: 40px;
  }
  .items-container .item #sentence_fullmetal {
    padding-top: 70px;
  }
  .items-container .item h2 {
    margin: 20px;
    text-align: center;
    scroll-margin-top: 50px;
    font-size: 35px;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
  }
}/*# sourceMappingURL=style.css.map */