img {
  width: 50%;
}

/* Target a particular breakpoint for mobile phone (480px), if the screen size goes below 480px do something */


/* @mediaは、1つまたは複数のメディアクエリーの結果に基づいて、スタイルシートの一部を適用するために使用することができます。
   元の画像のサイズは50%だが、480px以下になると@mediaの中にあるのが作動する

@media only screen and (max-width: 480px) {
   When the screen size becomes lesser than 480px make the width to 100% 
   480になると写真がフルサイズで表示されるようになる 
  img{
    width: 100%;
    border: 4px solid red;
  }
}
*/

@media only screen and (min-width: 480px) {
  /* When the screen size becomes equal or greater than 480px make the width to 100% */
  /* 480より大きくなったら下記が作動する */
  img{
    width: 100%;
    border: 4px solid red;
  }
}