.items-container {
  @include gridContainer(repeat(3, 33%), flex-start, flex-start);

  .item {
    margin: 10px;
    text-align: $text-center;
    border: 1px solid $white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

    #Fullmetal {
      position: relative;
      bottom: 20px;
    }

    #name {
      position: relative;
      bottom: 10px;
    }

    #Alice {
      position: relative;
      top: 10px;
    }

    #You {
      position: relative;
      bottom: 10px;
    }

    #sentence_godzilla {
      margin-top: 30px;
    }

    #sentence_yourName {
      margin-top: 40px;
    }

    #sentence_fullmetal {
      padding-top: 70px;
    }

    h2 {
      margin: 20px;
      text-align: $text-center;
      scroll-margin-top: 50px;
      font-size: 35px;

    }
  }
}

header {
  nav {
    ul {
      @include flexContainer;
      justify-content: center;
      margin: 20px;
    }
  }
}
