.items-container {
    @include gridContainer(repeat(3, 33%), flex-start, flex-start);
}

.items-container{

.item {
    margin: 15px;
    text-align: $text-center;
    border: 1px solid $white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

    .films-title {
        position: relative;
        top: 30px;
    }

    .twoLines-title {
        position: relative;
        top: 15px;
    }

    h2 {
      margin: 10px;
      text-align: $text-center;
      scroll-margin-top: 50px;
      height: 90px;

    }
  }
}

header{
    nav{
        ul{
            @include flexContainer;
            justify-content: center;
            margin: 20px;
        }
    }
}