body {
  @include layoutContainer;
  height: 100vh;

  header {
    grid-area: header;
    h1 {
      font-size: 50px;
      position: relative;
      bottom: 30px;
    }
  }
  main {
    grid-area: main;
    #main-pic {
      position: relative;
      top: 100px;
      left: 30px;
      width: 650px;
      height: 300px;
      border-radius: 10%;
    }
 
    .main-title {
      position: relative;
      top: 400px;
      right: 300px;
      font-size: 35px;
      white-space: nowrap;
    }

    
  }
}