@charset "UTF-8";
.listMenu {
  /* max-width: 75px; */
  margin-top: 30px;
  margin-left: auto;
  margin-right: 180px;
  margin-bottom: 70px;
  /* 行と列で区切ったグリッドの中にコンテンツを自由に配置する事ができる。 */
  display: grid;
  /* 横並びになる */
  grid-template-columns: repeat(auto-fit, 240px);
  column-gap: 195px;
  row-gap: 60px;
  justify-content: center;
}

.menuPic {
  width: 355px;
  height: 200px;
  margin-left: 30px;
}

dt {
  text-align: center;
  padding-left: 160px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

li {
  list-style:none
}



/*****************************************************/

@media screen and (min-width:768px) {
  /* 画像を2列にして表示できるように出来たらする */
}