@media only screen and ( max-width: 480px) {
/* Banner */
.banner {
  background-color: rgb(72, 70, 70);
  color: white;
  height: 400px;

}

#sub {
  font-size: 30px;
  text-align: center;
  transform: translate(20px, 30px);

}

.font1 {
  color: #FF6600;
}

.subtitle {
  transform: translate(3%, 70%);
  text-align: center;
  
}

section {
  max-width: 300px;
  margin: 0 auto;
}
a.btn_05 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 45px;
  background-color: white;
  box-sizing: border-box;
  color: black;
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 2.0;
  text-decoration: none;
  transition-duration: 0.3s;
  position: relative;
  transform: translate(100px, 130px);
}
a.btn_05:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 40px 0 0;
  border-color: #ffffff transparent transparent transparent;
}
a.btn_05:after {
  content: "";
  position: absolute;
  top: -6px;
  left: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 40px 30px;
  border-color: transparent transparent #efefef transparent;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
  transform: rotate(16deg);
}
a.btn_05:hover {
  background-color: #e6de6b;
}
a.btn_05 span {
  position: relative;
  padding-left: 16px;
  letter-spacing: 0.05em;
}
a.btn_05 span:before {
  content: '';
  width: 6px;
  height: 6px;
  border: 0;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -4px;
}

/**********************************************************************/
/* location */

.location {
  text-align: center;
  height: 250px;
}


.subtitle1 {
  font-size: 30px;
  transform: translate(0px, 90px);
}

#location_info {
  transform: translate(0px, 130px);
}

/**********************************************************************/

/* tent */

.tent {
  text-align: center;
  background-color: #FF6600;
  height: 250px;
}

.subtitle2 {
  font-size: 30px;
  transform: translate(0px, 90px);
}

#tent_info {
  transform: translate(0px, 130px);
}

/**********************************************************************/
 /* campfire */

 .campfire {
  text-align: center;
  height: 250px;
}

.subtitle3 {
  font-size: 30px;
  transform: translate(0px, 90px);
}

#campfire_info {
  transform: translate(0px, 130px);
}

/**********************************************************************/



  /* footer */

  footer {
    text-align: center;
    background-color: gray;
    color: white;
    font-size: 20px;
    height: 70px;
  }

  .footer_info {
    /* (左右,上下) */
    transform: translate(0%, 100%);
  }
} /* @media */


 /**********************************************************************/

@media screen and (max-width: 1940px) and (min-width: 481px) {

  /* Banner */
  .banner {
    background-color: rgb(72, 70, 70);
    color: white;
    height: 350px;

  }

  #sub {
    font-size: 30px;
    text-align: center;
    transform: translate(0px, 30px);

  }

  .font1 {
    color: #FF6600;
  }

  .subtitle {
    transform: translate(40%, 70%);
  }

  /**********************************************************************/
  /* location */

  .location {
    text-align: center;
    height: 250px;
  }


  .subtitle1 {
    font-size: 30px;
    transform: translate(0px, 90px);
  }

  #location_info {
    transform: translate(0px, 130px);
  }

  section {
    max-width: 300px;
    margin: 0 auto;
  }
  a.btn_05 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 45px;
    background-color: white;
    box-sizing: border-box;
    color: black;
    font-size: 15px;
    letter-spacing: 0.1em;
    line-height: 2.0;
    text-decoration: none;
    transition-duration: 0.3s;
    position: relative;
    transform: translate(100px, 130px);
  }
  a.btn_05:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 40px 0 0;
    border-color: #ffffff transparent transparent transparent;
  }
  a.btn_05:after {
    content: "";
    position: absolute;
    top: -6px;
    left: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 40px 30px;
    border-color: transparent transparent #efefef transparent;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.15);
    transform: rotate(16deg);
  }
  a.btn_05:hover {
    background-color: #e6de6b;
  }
  a.btn_05 span {
    position: relative;
    padding-left: 16px;
    letter-spacing: 0.05em;
  }
  a.btn_05 span:before {
    content: '';
    width: 6px;
    height: 6px;
    border: 0;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -4px;
  }
  /**********************************************************************/

  /* tent */

  .tent {
    text-align: center;
    background-color: #FF6600;
    height: 250px;
  }

  .subtitle2 {
    font-size: 30px;
    transform: translate(0px, 90px);
  }

  #tent_info {
    transform: translate(0px, 130px);
  }

  /**********************************************************************/

  /* campfire */

  .campfire {
    text-align: center;
    height: 250px;
  }

  .subtitle3 {
    font-size: 30px;
    transform: translate(0px, 90px);
  }

  #campfire_info {
    transform: translate(0px, 130px);
  }

  /**********************************************************************/

  /* footer */

  footer {
    text-align: center;
    background-color: gray;
    color: white;
    font-size: 25px;
    height: 70px;
  }

  .footer_info {
    /* (左右,上下) */
    transform: translate(0%, 70%);
  }
}